body{background-color:burlywood}
.p-cadet{ color:cadetblue}
.p-red{color:brown}

/* *{
    text-align: center;
} */

nav{
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom:20px;
    border-bottom:2px solid;
    text-align: right;
    color:teal;
}

.nav-link{
    margin: 5px;
}

h1{
    text-align: center;
}
pre{
    text-align: center;
}
.home-page-image {
    height:150px;
    width:200px;
    display: block;
    margin: auto;
}
